<div class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mb-4">Promo Codes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div *ngFor="let promoCode of promoCodes" class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ promoCode.code }}</h5>
                <p class="card-text">Discount: {{ promoCode.discount }}</p>
                <p class="card-text">Expiry Date: {{ promoCode.expiryDate }}</p>
                <p class="card-text">Max Usage Count: {{ promoCode.maxUsageCount }}</p>
                <p class="card-text">Type: {{ promoCode.type }}</p>
                <div class="d-grid gap-2">
                  <button [routerLink]="['/promocode-update', promoCode.id]" class="btn btn-primary">Edit</button>
                  <button (click)="deletePromoCode(promoCode.id)" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
